<header>
    <h1>Observant Kangaroo's Outback Emporium</h1>
    <nav aria-label="Primary Navigation">
        <a href="index.html">Home</a>
        <a href="contract.html">Contract</a>
        <a href="survey.html">Survey</a>
        <a href="cards.html">Cards</a>
        <a href="inventory.html">Inventory</a>
        <a href="documentation.html">Documentation</a>
        <a href="product.html">Product</a>
    </nav>
    <nav aria-label="Secondary Navigation">
        <a href="website_evaluations.html">Site Evaluations</a>
        <a href="stuff/CrA p-.htm">Crappy Page</a>
        <a href="hobby/">Hobby</a>
    </nav>
</header>
