<header>
    <h1>Kelechi Otiocha's Observant Kangaroo | ITIS 3135</h1>
    <nav aria-label="Primary Navigation">
        <a href="survey.html">Survey</a>
        <a href="gallery.html">Gallery</a>
        <a href="inventory.html">Inventory</a>
        <a href="instructions.html">Instructions</a>
        <a href="highlight.html">Highlight</a>
    </nav>
    <nav aria-label="Secondary Navigation">
        <a href="contract.html">Contract</a>
        <a href="stuff/CrA p-.htm">Crappy Page</a>
    </nav>
</header>
